<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Ini Halaman Luas</title>
</head>
<body>
    <h1>Luas : <span th:text="${x}"></span> </h1>

    <form method="post" th:action="@{/bangunruang/luas}" th:object="${luas}">
        <p>Panjang : <input type="text" th:field="*{panjang}"> </p>
        <p>Lebar : <input type="text" th:field="*{lebar}"> </p>
        <p><input type="submit" value="Submit Form"> </p>
    </form>
</body>
</html>