<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Ini Halaman Luas</title>
</head>
<body>
<!--<h1>Luas : <span th:text="${x}"></span></h1>-->

        <p>Panjang : <span th:text="${luas.panjang}"> </span></p>
        <p>Lebar : <span th:text="${luas.lebar}"> </span></p>
        <p>Luas : <span th:text="${luas.HitungLuas()}"> </span></p>

</body>
</html>