<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List Book</h1>
    <a th:href="@{/book/insert}">Add Book</a>

        <table>
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Book Author</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Book : ${Books}">
                    <td><span th:text="${Book.getBookName()}"></span></td>
                    <td><span th:text="${Book.getBookAuthor()}"></span></td>
                    <td><a th:href="@{/book/edit/{id}(id=${Book.id})}">EDIT</a> </td>
                    <td><a th:href="@{/book/delete/{id}(id=${Book.id})}">DELETE</a> </td>
                </tr>
            </tbody>
        </table>

</body>
</html>